{% extends "base.html.twig" %}

{% block title %}Aouter une nouvelle catégorie{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter une catégorie</button>
    {{ form_end(form) }}
{% endblock %}
