{% extends "base.html.twig" %}

{% block title %}Ajouter une nouvelle série{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter une série</button>
    {{ form_end(form) }}
{% endblock %}
